.main{
    background: #1D2026;
    height: 100%;
    width: 100%;
    color: black;
    position: absolute;
}

form{
    font-family: sans-serif;
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_div{
    background-color: white;
    display: block;
    text-align: center;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    margin-left: 65%;
    margin-top: 150px;
}

h1{
    text-align: center;
    margin-top: 20px;
    font-size: 45px;
}

.div_btn{
    text-align: center;
}

.cancel_btn{
    font-family: sans-serif;
    font-size: large;
    height: 40px;
    width: 160px;
    background-color: #262930;
    border: none;
    color: white;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.confirm_btn{
    font-family: sans-serif;
    margin-left: 20px;
    font-size: large;
    height: 40px;
    width: 160px;
    background-color: #008360;
    border: none;
    color: white;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.admin_check{
    margin-top: 15px;
    margin-bottom: 22.5px;
    margin-left: 0px;
}

.remember_me{
    font-weight: lighter;
    font-size: medium;
}

.last_name_label{
    font-weight: bold;
}

.first_name_label{
    font-weight: bold;
}

.password_repeat_label{
    font-weight: bold;
}

.password_label{
    font-weight: bold;
}

.email_label{
    font-weight: bold;
}

input[type=text] {
    width: 340px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=email] {
    width: 340px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}