<div  class="main">
    <div class="form_div">
        <form class="main_form">
                <h1>Sign In</h1>
    
                <label for="email">E-Mail</label><br>
                <input type="text" placeholder="Enter E-Mail" name="email" required><br>
    
                <label for="password">Password</label><br>
                <input type="password" placeholder="Enter Password" name="password" required><br>
    
                <label for="password_repeat">Repeat Password</label><br>
                <input type="password" placeholder="Repeat Password" name="password_repeat" required><br>
    
                <label>
                    <input class="check_box" type="checkbox" checked="checked" name="remember"> Remember me
                </label>
    
                <p>By creating an account you agree to our <a href="#" style="color:dodgerblue"><br>Terms & Privacy</a>.</p>
    
                <div class="div_btn">
                    <button class="cancel_btn" type="button" routerLink="/landing">Cancel</button>
                    <button class="confirm_btn" type="submit" routerLink="/login">Sign In</button>
                </div>
        </form>
    </div>
</div>
