<div  class="main">
    <div class="login_form">
        <form class="login" [formGroup]="loginGroup" (ngSubmit)="login()">
            <label><h2 class="login_heading">Log in</h2></label>
            <label class="username_input"><h3 style="margin-bottom: -10px;">Email</h3></label><br>
            <input   type="email" placeholder="Email" formControlName="email" required>
            <label><h3 class="pass_input">Password</h3></label><br>
            <input type="password" placeholder="Password" formControlName="password" required><br>
            <input  #saveCheckedEmployerCheckBox 
                    class="checkbox" 
                    type="checkbox" 
                    id="saveCheckedEmployerCheckBox" 
                    [checked]="checkedEmployer" 
                    (change)="onCheckedEmployer(saveCheckedEmployerCheckBox.checked)"> 
                    Employer Log In <br>
                    
            <button class="log_button" [disabled]="!loginGroup.valid" type="submit">Log In</button> 
        </form>
    </div>
</div> 