<div class="main">
    <h1 class="home_heading">Home</h1>

    <mat-divider></mat-divider>

    <div class="main_panel">
        <div class="hours_container">
            <h2>Hours This Month:</h2>
            <h3>206 hours</h3>
        </div>
        <div class="edit_container">
            <h2>EDIT ANDSJNIAD</h2>
            <h3>huhuahahahhauuau</h3>
        </div>
    </div>

    <div class="stats">
        <div class="graph_1">
            <h2>dasaskasnfhuaisbufoashidnaj</h2>
        </div>
        <div class="graph_2">
            <h3>1941sad91sad65</h3>
        </div>
    </div>
</div>


