<div class="main">
    <h1 class="home_heading">Home</h1>

    <mat-divider></mat-divider>

    <div class="main_panel">
        <div class="hours_container">
            <h2>Hours This Month:   <strong class="big">206 hours</strong></h2>
            <h4>March 2022:   <strong class="big2">2654 hours</strong></h4>
            <h4>February 2022:   <strong class="big2">2147 hours</strong></h4>
            <h4>January 2022:   <strong class="big2">2054 hours</strong></h4>
            <h4>December 2021:   <strong class="big2">2798 hours</strong></h4>
        </div>

        <div class="edit_container">
            <h2>Your Profile</h2>
            <!-- <div>
                <img class="avatar" src="./user.png" height="90px" alt="avatar picker">
                <button class="submit_button">
                    Submit
                </button>
            </div> -->
            <label class="field field_v3" style="margin-left: 2%; margin-bottom: 2%;">
                    <input class="field__input" placeholder="Your Name">
                    <span class="field__label-wrap">
                    <span class="field__label">Jozko Mrkvicka</span>
                    </span>
            </label>
<br>
            <label class="field field_v3" style="margin-left: 2%;">
                <input class="field__input" placeholder="Your Workplace">
                <span class="field__label-wrap">
                <span class="field__label">KIA MOTORS Slovakia</span>
                </span> 
            </label>
        </div>
    </div>

    <div class="stats">
        <div class="graph_1">
            <h2>Summary</h2>
        </div>
        <div class="graph_2">
            <h2>Export</h2>
        </div>
    </div>
</div>


