body{
    margin: 0;
    padding: 0;
}

.home_heading{
    color: black;
    font-size: 45px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 2%;
}

.hours_container{
    float: left;
    background-color: #1D2026;;
    width: 40%;
    height: 250px;
    border-radius: 10px;
}

h2{
    color: #00986F;
    font-size: 30px;
    padding: 13px;
}

h3{
    color: #c7c7c7;
    font-size: 40px;
    margin-left: 300px;
}

.edit_container{
    float: right;
    background-color: pink;
    width: 60%;
    height: 250px;
    border-radius: 10px;
}

.graph_1{
    background-color: chocolate;
    float: left;
    width: 70%;
    height: 100px;
}

.graph_2{
    background-color: chartreuse;
    float: right;
    width: 30%;
    height: 100px;
}

.main_panel{
    margin-top: 1%;
}

.stats{
    margin-bottom: 1%;
}

mat-divider{
    background-color: gray;
}