<table>
    <tr>
        <td>
            <ngx-charts-bar-vertical [results]="productSales"
                [view]="view"
                [scheme]="colorScheme"
                [schemeType]="schemeType"
                [gradient]="gradient"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [legend]="legend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [legendTitle]="legendTitle"
                [legendPosition]="legendPosition"
                [animations]="animations"
                [showGridLines]="showGridLines"
                [showDataLabel]="showDataLabel"
                [barPadding]="barPadding"
                [tooltipDisabled]="tooltipDisabled"
                [roundEdges]="roundEdges">
            </ngx-charts-bar-vertical>
        </td>
    </tr>
</table>

//This whole component is just a template for basic chart settings :)