.background{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') no-repeat center;
    background-size: 100% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: fixed;
}

.a2022{
    position: absolute;
    background-color: #008360;
    color: white;
}

.a2021{
    margin-right: 5px;
    background-color: #008360;
    color: white;
}

.a2021:active{
    background-color: #007254;
}

.a2022:active{
    background-color: #007254;
}

.kalendarny_rok_header{
    float: left;
    margin-top: 10px;
}

.button_div{
    float: right;
    margin-right: 60px;
}

.mzda_header{
    float: left;
    margin-top: 15px;
}

    .selector_mzda{
        height: 50px;
        width: 150px;
        font-size: medium;
        color: #007254;
        font-weight: bold;
    }

.uplatnujem_header{
    float: left;
    margin-top: 15px;
}

    .selector_ano_nie{
        height: 50px;
        width: 50px;
        font-size: medium;
        color: #007254;
        font-weight: bold;
        float: right;
    }

.rokov6_header{
    float: left;
    margin-top: 15px;
}

    .selector_do_6_rokov{
        height: 50px;
        width: 50px;
        font-size: medium;
        color: #007254;
        font-weight: bold;
        float: right;
    }

.od6do15_header{
    float: left;
    margin-top: 15px;
}

    .od6do15{
        height: 50px;
        width: 50px;
        font-size: medium;
        color: #007254;
        font-weight: bold;
        float: right;
    }

.nad15_header{
    float: left;
    margin-top: 15px;
}

    .selector_nad15{
        height: 50px;
        width: 50px;
        font-size: medium;
        color: #007254;
        font-weight: bold;
        float: right;
    }

.main{
    height: auto;
    width: auto;
    background-color: #1D2026;
    position: absolute;
    left: 42%;
    top: 43.5%;
    transform: translate(-50%, -50%);
    align-items: left;
    border-radius: 10px;
    text-align: center;
    
}

.contact_header{
    text-align: center;
    margin-top: 50px;
    font-size: larger;
}

.salary_input_div{
    float: right;
}

.field__input{ 
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
    color: #767676;
    background-color: transparent;
    border-radius: 0;
    border: none; 
  
    -webkit-appearance: none;
    -moz-appearance: none;
  
    font-family: inherit;
    font-size: inherit;
}
  
.field__input:focus::-webkit-input-placeholder{
    color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
    color: var(--uiFieldPlaceholderColor);
}

.field{
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);   
    --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgba(22, 22, 22, 1));

    display: var(--fieldDisplay, inline-flex);
    position: relative;
    font-size: var(--fieldFontSize, 1rem);
}

.field__input{
    box-sizing: border-box;
    width: var(--fieldWidth, 100%);
    height: var(--fieldHeight, 3rem);
    padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, .25));  
}

.field__input:focus{
    outline: none;
}

.field__input::-webkit-input-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
}

.field__input::-moz-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
}

.field__input:focus::-webkit-input-placeholder{
    opacity: 1;
    transition-delay: .2s;
}

.field__input:focus::-moz-placeholder{
    opacity: 1;
    transition-delay: .2s;
}

.field__label-wrap{
    box-sizing: border-box;
    pointer-events: none;
    cursor: text;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.field__label-wrap::after{
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 0;
    opacity: 0;

    position: absolute;
    bottom: 0;
    left: 0;
}

.field__input:focus ~ .field__label-wrap::after{
    opacity: 1;
}

.field__label{
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    top: calc(50% - .5em);

    line-height: 1;
    font-size: var(--fieldHintFontSize, inherit);

    transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
    will-change: bottom, opacity, font-size;
}

.field__input:focus ~ .field__label-wrap .field__label,
.field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label{
    --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);

    top: var(--fieldHintTopHover, .25rem);
}

.field_v1 .field__label-wrap::after{
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
    transition: opacity .2s ease-out;
    will-change: opacity;
}

.field_v2 .field__label-wrap{
    overflow: hidden;
}

.field_v2 .field__label-wrap::after{
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
    transform: translate3d(-105%, 0, 0);
    will-change: transform, opacity;
    transition: transform .285s ease-out .2s, opacity .2s ease-out .2s;
}

.field_v2 .field__input:focus ~ .field__label-wrap::after{
    transform: translate3d(0, 0, 0);
    transition-delay: 0;
}

.field_v3 .field__label-wrap::after{
    border: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
    will-change: opacity, height;
    transition: height .2s ease-out, opacity .2s ease-out;
}

.field_v3 .field__input:focus ~ .field__label-wrap::after{
    height: 100%;
}

.field{
    --fieldBorderColor: #008360;;
    --fieldBorderColorActive: #008360;
}

.page{
    box-sizing: border-box;
    width: 100%;
    max-width: 480px;
    margin: 20px;
    padding: 1rem;
    height: 10%;
    display: grid;
}

.submit_button{
    background-color: #008360;
    border: none;
    color: white;
    width: 450px;
    height: 50px;
    margin-top: 30px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

.submit_button:hover{
    background-color: #007254;
}