<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hours Alpha</title>
</head>
<body>
    <div>
        <nav class="nav_top">
            <img src="src\app\images\logo.png" class="logo-img" alt="Hours-Alpha" routerLink="/landing">
            <ul>
                <li><a routerLink="/discover"> Discover </a></li>
                <li><a routerLink="/login"> Log In </a></li>
                <li><a routerLink="/join"> Join </a></li>
            </ul>
        </nav>
    </div>
</body>
</html>C:\Users\42194\Hours-Alpha-FE-1\src\app\images\logo.png
<router-outlet></router-outlet>