<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hours Alpha</title>
</head>
<body>
    <div class="main">
        <nav class="nav_top">
            <img src="images/Logo.jpg" class="logo-img">
            <ul>
                <li><a href=""> Discover </a></li>
                <li><a href=""> Log In </a></li>
                <li><a href=""> Join </a></li>
            </ul>
        </nav>

        <div class="text">
            <h1 class="title">Build for Employers</h1>
            <p class="content">The inferred meaning of work from this perspective is: The purpose of work is to make money. ... 
                Work, besides making money, is meaningful daily life activity — making something, serving someone, 
                providing something of worth to others (either individually or to the community in which you live [local or globally])
            </p>
            <button href="">Join to Access</button>
        </div>
    </div>
</body>
</html>
<!--margin z hora | z lava | z dola | z prava-->