<div  class="main">
    <div class="login-form">
        <form class="login">
            <label><h2 class="login_heading">Log in</h2></label>
            <label><h3 style="margin-bottom: -10px;">Username or Email</h3></label><br>
            <input type="email" placeholder="Email" required>
            <label><h3 style="margin-bottom: -10px;">Password</h3></label><br>
            <input type="text" placeholder="Password" required><br>
            <input type="checkbox" id="keepsigned"> Remeber Me
            <br>
            <button type="submit">Log In</button>
        </form>
    </div>
</div>