<div  class="main">
    <div class="form_div">
        <form class="main_form" [formGroup]="signUpGroup" (ngSubmit)="register()">
                <h1>Sign In</h1>
    
                <div class="div_first_name">
                    <label class="first_name_label" for="first_name">First Name</label><br>
                    <input type="text" placeholder="Your First Name" name="first_name" class="input_first_name" formControlName="firstName" required><br>
                </div>

                <div class="div_last_name">
                    <label class="last_name_label" for="last_name">Last Name</label><br>
                    <input type="text" placeholder="Your Last Name" name="last_name" class="input_last_name" formControlName="lastName" required><br>
                </div>
                
                <div class="div_email">
                    <label class="email_label" for="email">E-Mail</label><br>
                    <input type="email" placeholder="Enter E-Mail" name="email" class="input_email" formControlName="email" required><br>
                </div>
                
                <div class="div_password">
                    <label class="password_label" required minlength="8" for="password">Password</label><br>
                    <input type="password" placeholder="Enter Password" name="password" class="input_password" formControlName="password" required><br>
                </div>
                
                <div class="div_repeat_password">
                    <label class="password_repeat_label" for="password_repeat">Repeat Password</label> <br> 
                    <input type="password" placeholder="Repeat Password" name="password_repeat" class="input_password_repeat" formControlName="repeatPassword" required><br>
                </div><br>

                <input
                    #saveCheckedEmployerCheckBox 
                    class="checkbox" 
                    type="checkbox" 
                    id="saveCheckedEmployerCheckBox" 
                    [checked]="checkedEmployer" 
                    (change)="onCheckedEmployer(saveCheckedEmployerCheckBox.checked)"
                    formControlName="employerCheckBox"> Employer Register

                <div class="div_btn">
                    <button class="cancel_btn" type="button" routerLink="/landing">Cancel</button>
                    <button class="confirm_btn" type="submit" [disabled]="!signUpGroup.valid" type="submit">Sign In</button>
                </div> 
        </form>
    </div>
</div>
