<div  class="main">
    <div class="text">
        <h1 class="title">Build for Employers</h1>
        <p class="content">The inferred meaning of work from this perspective is: The purpose of work is to make money. ... 
            Work, besides making money, is meaningful daily life activity — making something, serving someone, 
            providing something of worth to others (either individually or to the community in which you live [local or globally])
        </p>
        <button routerLink="/join">Join to Access</button>
    </div>
</div>
