<section class="main-component">
    <div class="row">
        <div class="col-lg-2">
            <div class="main-box">
                
                <div class="side-menu-list">
                    <ul class="menu-items">
                        <li (click)="goTo('Home')" [ngClass]="{'onActive' : selectedMenu == 'Home'}"> Home</li>
                        <li (click)="goTo('Stats')" [ngClass]="{'onActive' : selectedMenu == 'Stats'}"> Stats</li>
                        <li (click)="goTo('Calculator')" [ngClass]="{'onActive' : selectedMenu == 'Calculator'}"> Calculator</li>
                        <li (click)="goTo('Contact')" [ngClass]="{'onActive' : selectedMenu == 'Contact'}"> Contact</li>
                        <li (click)="goTo('LogOut')" [ngClass]="{'onActive' : selectedMenu == 'LogOut'}"> LogOut</li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="col-lg-10">
            <div class="side-menu-content">
                <div class="tabs" *ngIf="selectedMenu == 'Home'">
                    <p>this is home</p>
                </div>

                <div class="tabs" *ngIf="selectedMenu == 'Stats'">
                    <p>this is Stats</p>
                </div>

                <div class="tabs" *ngIf="selectedMenu == 'Calculator'">
                    <p>this is Calculator</p>
                </div>

                <div class="tabs" *ngIf="selectedMenu == 'Contact'">
                    <p>this is Contact</p>
                </div>

                <div class="tabs" *ngIf="selectedMenu == 'LogOut'">
                    <p>this is LogOut</p>
                </div>
            </div>
        </div>

    </div>
</section>