<mat-sidenav-container>
    <mat-sidenav [disableClose]="true" mode = "side" opened >
        
        <img class="avatar" src="../assets/images/pfp.jpg">
        <h4 class="name">Jozko Mrkvicka</h4>
        <p class="destinatino">Employee</p>

        <mat-divider></mat-divider>

        <button 
            mat-button 
            class="menu-button"
            routerLink = "/home">
                <mat-icon>home</mat-icon>
                <span>Home</span>
        </button><br>   

        <button 
            mat-button 
            class="menu-button"
            routerLink="/stats">
                <mat-icon>assessment</mat-icon>
                <span>Stats</span>
        </button><br>

        <button 
            mat-button 
            class="menu-button"
            routerLink = "/calculator">
                <mat-icon>calculate</mat-icon>
                <span>Calculator</span>
        </button><br>

        <button 
            mat-button 
            class="menu-button"
            routerLink = "info">
                <mat-icon>info</mat-icon> <!--phone_in_talk--> 
                <span>Info</span>
        </button><br>

        <button 
            mat-button 
            class="menu-button"
            routerLink = "/contact">
                <mat-icon>contact_support</mat-icon> <!--phone_in_talk--> 
                <span>Contact</span>
        </button><br>

        <mat-divider></mat-divider>

        <button 
            mat-button 
            class="menu-button">
                <mat-icon>logout</mat-icon> <!--phone_in_talk--> 
                <span>Log Out</span>
        </button><br>

    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet> 
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
