<div class="main">
    <h1 class="company_heading">Company</h1>

    <mat-divider></mat-divider>

    <div class="main_panel">

        <div class="create_company_container">
            <h2>Create Your Company</h2>

            <label class="field field_v3" style="margin-left: 2%; margin-bottom: 2%;">
                    <input class="field__input" placeholder="Company Name"/>
                    <span class="field__label-wrap">
                    <span class="field__label">Company Name</span>
                    </span>
            </label>
           
            <button  class="create_company_button">Create Company</button>
        </div>

        <div class="preview_of_company"> <!--will not be here-->
            <h2 class="menoFirmy">MenoFirmy</h2>
            <h3 class="numberOfEmployees">number of employees</h3>
            <h3 class="totalHours">total hours</h3>
        </div>
    </div>
</div>


