<div class="background">

  <div class="main">
    <h1 class="contact_header">Contact Us</h1>

    <div class="page">
    
        <label class="field field_v1">
          <input class="field__input" placeholder="UserName" >
          <span class="field__label-wrap">
            <span class="field__label">Username</span>
          </span>
        </label>
        <label class="field field_v3">
          <textarea class="field__input" placeholder="Your Message"></textarea>
          <span class="field__label-wrap">
            <span class="field__label">Your Message</span>
          </span>
        </label>

        <button class="submit_button">
            Submit
        </button>
        
    </div>
  </div>
  
</div>

